<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spending Forecasts</title>
    <!-- Links to CSS file for styling -->
    <link rel="stylesheet" href="../static/css/spending_styling.css" />
  </head>
  <body>
    <header>
      <!-- Consistent title for all pages on the website -->
      <h1>Smart Finance</h1>
      <!-- Navbar to allow users to navigate the site more easily -->
      <nav>
        <div class="nav_item">
          <a href="spending_insights.html">Spending Insights</a>
        </div>
        <div class="nav_item"><a href="index.html">Home Page</a></div>
        <div class="nav_item">
          <a href="spending_forecasts.html">Spending Forecasts</a>
        </div>
      </nav>
    </header>
    <h1 id="page_title">Money Pots Page</h1>
    <div id="white_container">
      <!-- Information icon gives user explanation of page -->
      <h3
        id="Explanation of"
        title="On this page, you can view the amount you have in each money pot and change it. To submit changes, press the 'Submit changes' button."
      >
        ⓘ
      </h3>
      <!-- Container for all pots which is in the form of a grid -->
      <!-- The grid has a maximum of 4 columns and no limit to the number of rows -->
      <div id="pots_container"></div>
    </div>
    <script src="../static/js/money_pots_script.js"></script>
  </body>
</html>
