<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Prototype</title>
    <!-- Links to CSS file for styling -->
    <link
      rel="stylesheet"
      href="../static/css/login_registration_styling.css"
    />
  </head>
  <body>
    <!-- Consistent title for all pages on the website -->
    <h1>Smart Finance</h1>
    <h2>Registration</h2>
    <form>
      <!-- Labels to explain the use of each input box -->
      <label for="username">Enter Username</label>
      <input type="text" id="username" />
      <label for="password">Enter Password</label>
      <input type="text" id="password" />
      <button type="submit" onclick="registration_validation()">
        Register
      </button>
    </form>
    <!-- Initially empty box to display error messages -->
    <div id="error_box"></div>
    <!-- Links to JS file for functionality -->
    <script src="../static/js/script.js"></script>
  </body>
</html>
