<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spending Insights</title>
    <!-- Links to CSS file for styling -->
    <link rel="stylesheet" href="../static/css/spending_styling.css" />
  </head>
  <body>
    <header>
      <!-- Consistent title for all pages on the website -->
      <h1>Smart Finance</h1>
      <!-- Navbar to allow users to navigate the site more easily  -->
      <nav>
        <div class="nav_item">
          <a href="spending_forecasts.html">Spending Forecasts</a>
        </div>
        <div class="nav_item"><a href="index.html">Home Page</a></div>
        <div class="nav_item"><a href="money_pots.html">Money Pots</a></div>
      </nav>
    </header>
    <h1 id="page_title">Spending Insights</h1>
    <!-- Pagination buttons that allow the user to view different spending insights-->
    <div id="white_container">
      <div id="pagination_container">
        <button id="left_pagination"><</button>
        <div id="pagination_date">YYYY-MM-DD</div>
        <button id="right_pagination">></button>
      </div>
      <!-- Total spending reading displayed to user -->
      <h3 title="The total amount that you have spent during this month.">
        Total Spending: ⓘ
      </h3>
      <div id="total_spending_display"></div>
      <!-- Average daily spending reading displayed to user -->
      <h3
        title="It is the average amount you have spent each day during this month."
      >
        Average Daily Spending: ⓘ
      </h3>
      <div id="average_daily_spending_display"></div>
      <!-- Table containing all spending insights -->
      <table id="spending_insights_table">
        <tr>
          <th>Categories</th>
          <th
            title="It is the total amount you have spent on each category this month."
          >
            Total Spending per Category ⓘ
          </th>
          <th
            title="It is the amount you have spent on each category during this month as a percentage of the total spending."
          >
            Percentage of Total Spending per Category ⓘ
          </th>
          <th
            title="It is the difference in amount spent on each category between this month and the month before it."
          >
            Spending Change per Category ⓘ
          </th>
        </tr>
      </table>
      <!-- All plots are initially represented by a placeholder image -->
      <h3
        title="Diagrams display the information from the table above in visual form to aid understanding."
      >
        Visual Aids: ⓘ
      </h3>
      <h4
        title="Bar graph showing the total amount you have spent on each category this month."
      >
        Total Spending per Category: ⓘ
      </h4>
      <img
        id="total_spending_per_category_image"
        src="../static/images/placeholder_image.png"
      />
      <h4
        title="Bar graph showing the amount you have spent on each category during this month as a percentage of the total spending."
      >
        Percentage of Total Spending per Category: ⓘ
      </h4>
      <img
        id="percentage_total_spending_image"
        src="../static/images/placeholder_image.png"
      />
      <h4
        title="Bar graph showing the difference in amount spent on each category between this month and the month before it."
      >
        Spending Change per Category: ⓘ
      </h4>
      <img
        id="spending_change_image"
        src="../static/images/placeholder_image.png"
      />
    </div>
    <script src="../static/js/spending_insights_script.js"></script>
  </body>
</html>
